/*-- scss:defaults --*/
/*-- scss:rules --*/

[data-bs-theme="light"] .form-control {
  background-color: #fbfaff;
}

[data-bs-theme="dark"] .form-control {
  background-color: #362d53;
}

[data-bs-theme="light"] .navbar {
  background-color: #D9D3ED;
}

[data-bs-theme="dark"] .navbar {
  background-color: #6E6295;
}
